* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --dark-blue: #50529b;
  --light-blue: #656ed0;
  --white: #fff;
  --darkgreen: #0f4503;
  --green: #02a92f;
  --font-family: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--black);
  padding: 10px;
}

header {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--black);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--black);
}

p {
  font-size: 25px;
  font-weight: 700;
}

.navigation-list {
  display: inline-block;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style-type: none;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item {
  text-decoration: none;
}

.navigation-list:hover,
.navigation-list:focus,
.navigation-list:hover,
.navigation-list:focus {
  cursor: pointer;
  opacity: 0.7;
}

#grid .grid__item {
  background-color: var(--light-blue);
  color: var(--white);
  text-align: center;
  min-height: 200px;
  width: auto;
  padding: 10px;
  border-radius: 10px;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 25px 1fr 25px 1fr 25px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-gap: 25px;
}

#grid > *:nth-child(1) {
  -ms-grid-row-one: 1;
  -ms-grid-column-one: 1;
}

#grid > *:nth-child(2) {
  -ms-grid-row-two: 1;
  -ms-grid-column-two: 3;
}

#grid > *:nth-child(3) {
  -ms-grid-row-three: 1;
  -ms-grid-column-three: 5;
}

#grid > *:nth-child(4) {
  -ms-grid-row-four: 1;
  -ms-grid-column-four: 7;
}

@media all and (max-width: 500px) {
  #grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  #grid {
    -ms-grid-columns: 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  #grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 7s color-change infinite alternate linear;
  animation: 7s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }

  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 30s;
  animation-duration: 30s;
  -webkit-animation-name: cloud-move;
  animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }

  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 45s cloud-move-reverse infinite alternate linear;
  animation: 45s cloud-move-reverse infinite alternate linear;
}

@media screen and (min-width: 750px) {
  h1 {
    font-size: larger;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: smaller;
  }
}

@media screen and (min-width: 750px) {
  p {
    font-size: larger;
  }
}

@media screen and (max-width: 750px) {
  p {
    font-size: smaller;
  }
}

h1 {
  font-size: 25px;
  font-weight: 700;
  color: var(--dark-blue);
  text-align: center;
}

h2 {
  font-weight: 700;
  text-align: center;
  color: var(--dark-blue);
}

img {
  width: 100px;
  margin-right: 40px;
  border-radius: 20%;
  padding: 10px;
}

.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  max-width: 200px;
  margin: auto;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #05676e;
}

a:active {
  color: #489c79;
}

a:focus {
  outline: 2px solid blue;
}

button {
  background-color: red;
  color: var(--white);
  font-size: 16px;
  font-family: inherit;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 100px;
}

button:hover {
  background-color: darkblue;
  cursor: pointer;
}

button:active {
  background-color: lightblue;
}

button:focus {
  border: 2px solid lightcyan;
}

.button__secondary {
  background-color: green;
  color: #2b2b2b;
}

table {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

thead {
  font-size: 20px;
  color: var(--green);
}

tbody {
  font-size: 16px;
  color: var(--darkgreen);
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 20%;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  text-align: right;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.profile {
  min-width: 360px;
  max-width: 700px;
  margin: 0 auto;
}

a {
  color: var(--dark-blue);
}

.svg {
  max-width: 700px;
}
